doctype html
head
  link(rel='stylesheet' href='../style.css')
  script(defer='' src='../script.js')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
.nav-bar
  button.nav-bar.button(type='button' onclick='goHomePage()')
    | Log-Out
  button.nav-bar.button(type='button' onclick='goPage3()')
    | Find Beer
h4 What Youv&apos;e Already Discovered.....
