doctype html
head
  link(rel='stylesheet' href='../style.css')
  script(defer='' src='../script.js')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Opening Page
.GridContainerOne
  .item1
    h1 IT&apos;S BEER TIME!
  .item1
    h3 About Us 
  .item2
    #intro
      p#p_intro
        | Welcome to &quot;BEER TIME&quot;...The place where the magic begins!
        | This website created by Shay Levi and Ariel Ovich as we wish to spread our great love to this beautiful drink.
        | After signing up we would like put you through a wonderful experience in the world of beer.
        | We intend to help all of you - our lovely beer lovers and those who hasn&apos;t find out they are, to find the beer that fits you the most.
        | And it&apos;s not enough! we want to please you with a pleasant surprise and provide you the closest beer brewery to your location!!!
        | Well, we gues you as better as we know that there&apos;s nothing that fits better than a warm sunny day, with your friends, holdding a beer that you just discovered for yourself!
        | So sit back, relax, and go take our short quiz, to find your ULTIMATE BEER! and don&apos;t forget to share this joy with others...
        | Have a great BEER TIME!
  .item3
    button#btn(type='button' onclick='goSignUp()')   GET STARTED
  .item4
    img(src='../logo1.png' alt='Beers' width='33%')
