doctype html
head
  link(rel='stylesheet' href='../style.css')
  script(defer='' src='../script.js')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
.grid-form
  form(action='/page3' method='post')
    h2.form_head LOG-IN
    label.field(for='')  Email 
    input.fill(type='email' name='' style='color: bisque;')
    label.field(for='') Password
    input.fill(type='password' style='color: bisque;')
    .form_button
      button.field(id='' type='submit') LOG-IN
    a#login_homepage.field(onclick='goHomePage()') Return To Homepage
