<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening Page</title>
   

</head>
<body>
    <div class = "GridContainerOne">
        <div class = "item1">
            <h1>IT'S BEER TIME!</h1>
        </div>
        <div class = "item1">
            <h3>About Us </h3>
        </div>
        <div class = "item2">
            <div id="intro">
                <p id="p_intro">
                    Welcome to "BEER TIME"...The place where the magic begins!
                    
                    This website created by Shay Levi and Ariel Ovich as we wish to spread our great love to this beautiful drink.
                    
                    After signing up we would like put you through a wonderful experience in the world of beer.
                    
                    We intend to help all of you - our lovely beer lovers and those who hasn't find out they are, to find the beer that fits you the most. 
                    
                    And it's not enough! we want to please you with a pleasant surprise and provide you the closest beer brewery to your location!!!
                    
                    Well, we gues you as better as we know that there's nothing that fits better than a warm sunny day, with your friends, holdding a beer that you just discovered for yourself! 
                    
                    So sit back, relax, and go take our short quiz, to find your ULTIMATE BEER! and don't forget to share this joy with others...
                    
                    Have a great BEER TIME!
                 </p>
        </div>
        </div>
        <div class = "item3">
            <button type="button" id ="btn" onclick="goSignUp()">  GET STARTED</button>
        </div>
        <div class = "item4">
            <img src="../logo1.png" alt="Beers" width=33%>
        </div>
    </div>
    
</body>
</html>
