<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="grid-form" >
        <form action="/ChekLogIn" method="post"> 
            <h2 class="form_head">LOG-IN</h2>
            <label for="email" class="field"> Email </label>
            <input type="email" name="email" class="fill" class="field"  style="color: bisque;">
            <label for="email" class="field">Password</label>
            <input type="password" name="password" class="fill" class="field"  style="color: bisque;">
            </select>
            <div class="form_button">
                <button class="field" id="" type="submit">LOG-IN</button>
            </div>
            <a class="field" id="login_homepage" onclick="goHomePage()">Return To Homepage</a>
        </form>
        <div id="error-message" class="error-message"></div>
     </div>
</body>
</html>