<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div class="nav-bar"> 
            <button type="button" class="nav-bar button" onclick="goHomePage()">
Log-Out
            </button>
            <button type="button" class="nav-bar button" onclick="goPage5()">
My Beers History
            </button>
        </div>
        <div class="gridcontainer"> 
            <div class="grid1"> 
                <h4>HERE'S WHAT WE FOUND FOR YOU</h4> 
            </div>
            <div class="grid_head1">
                <h5> Try This One...</h5>
            </div>
            <div class="grid2"> 
                <img src="../Weihenstephan_example.webp" alt="no photo inserted">
            </div>
                <div class="grid3"> 
                <p>
                    Weihenstephan <br>
                    <br>
                    Hefeweizen <br>
                    <br>
                    Light beer <br>
                    <br>
                    Germany <br>
                    <br>
                    No special taste <br>
                    <br>
                    5% Alcohol <br>
                    <br>
                    Gentle Carbornated <br>
                </p>
                </div>
                <div class="grid_head2">
                    <h5> If You Are Looking For Brewery Around You...</h5>
                </div>
                <div class="grid4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3151.5239961405005!2d35.710634048261404!3d32.98709524200853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbrewry%20hagolan!5e0!3m2!1siw!2sil!4v1686833043872!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="grid5">
                    <p>
                        Brewhouse-Hagolan <br>
                        <br>
                        <br>
                        <br>
                        Dereh Hayain, Katzrin<br>
                        <br>
                        <br>
                        <br>
                        04-696-1311 <br>
                    </p>
                </div>
                <div class="grid6">
                    <button type="button" onclick="goPage3()">I WANT TO DO IT AGAIN!</button><br>
                </div> 
                <div class="grid7">
                    <button type="button" onclick="goHomePage()">Log Out & Back To Homepage</button>
                </div>
            <div>
    </body>
</html>