<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar"> 
        <button type="button" class="nav-bar button" onclick="goHomePage()">
Log-Out
        </button>
        <button type="button" class="nav-bar button" onclick="goPage3()">
Find Beer
        </button>
    </div>
    <h4>What Youv'e Already Discovered.....</h4>
    <div>
        
    </div>
</body>
</html>