<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid-form">
        <form action="/page3" method="get">
            <h2 class="form_head">SIGN-UP</h2>
            <label for="" class="field">Email</label>
            <input type="email" name="" class="fill" class="field" style="color: bisque;">
            <label for="" class="field">Password</label>
            <input type="password" class="fill" class="field" style="color: bisque;">
            <label for="" class="field">Confirm Password</label>
            <input type="password" class="fill" class="field" style="color: bisque;">
            <label for="Name" class="field">Name</label>
            <input type="Name" class="fill" class="field" style="color: bisque;">
            <div class="checkbox">
                <input type="checkbox" id="" name="olderThan18" value="">  I Declare That I'm Older Than 18
            </div>
            <div class="form_button">
                <button class="field" id="" type="submit">SUBMIT</button>
            </div>
            <p id="go_to_login_p">Already Have An Account?<a type="button" class="field" id="go_to_login" onclick="gologin()">Log-In</a></p>
        </form>
       <div class="message-container"></div>
    </div>
</body>
</html>
